*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mainpage{
  background-image: url(images/back.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; 
  position: relative;
  background-attachment: fixed;
} 

.blur{
  background-color: rgba(23, 27, 27, 0.5);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-attachment: fixed;
}

header{
  width: 100vw;
}

ul{
  display: flex;
  list-style-type: none;
  font-size: 16px;
  justify-content: center;
  margin: 0px;
}

li{
  margin:2vh 4vw 0 1vw ;
  font-family: Arial;
}

li a{
  color: rgba(214, 229, 230, 0.7);
  text-decoration: none;
}


/*nav bar end**/

.center{
  width: 100%;
  padding: 30vh 0 0 35vw;
}

.center img{
  height: 2vw;
  padding-left: 3vw;
}
.icon{
  padding-top: 1vh;
}

.text{
  text-decoration: none;
  color: rgba(242, 248, 248, 0.877);
  font-size: 7vw;
  font-family: 'Dancing Script', cursive;
}

@media only screen and (max-width: 700px) {
  .text{
    font-size:12vw ;
  }
  .center img{
    height: 5vw;
    padding-left: 4vw;
  }
  .center{
    padding: 30vh 0 0 25vw;
  }

}

/*main page  end**/

.aboutheading{
  text-align: center;
  color: rgba(198, 204, 204, 0.6);
  padding: 1vh 0 0 0;
  font-size: 2.5vw;
}
.aboutheading2{
  text-align: center;
  color: rgba(114, 117, 117, 0.9);
  padding: 0 0 5px 0;
  font-size: 20px;
  
}

.bpage{
  background-color: rgba(248, 248, 248, 0.842);
  width: 100vw;
}
.page2 { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  
}

.aboutme{
width: 40%;
height: auto;
} 

@media only screen and (max-width: 700px) {
  .aboutme{
    width: 85%;
    height: auto;
  }
}

.aboutme img{
  width: 60%;
  height: 98%;
  padding: 0 0 20px 0;
  margin: 0 0  0 50px;
  border-radius: 40%;
}

.aboutme p{
  text-decoration: none;
  text-align: justify;
  color: rgba(44, 49, 48, 0.9);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  margin-top: 30px;
}

.aboutme a{
	text-decoration: none;
  color: rgba(44, 49, 48, 0.9);
}

/*page 3 start*/

.page3{
  background-color: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  height: auto;
}


.skill{
  width: 30vw;
  height: 50vh;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .skill{
    width: 80%;
    height: auto;
  }
}


.skill img{
  width: 40%;
  height: 40%;
  filter: brightness(0.5);
}
.skill h3{
  color: rgb(247, 239, 169);
  font-size: 20pxpx;
  font-weight: 100;
}
.skill p{
  color: whitesmoke;
  padding: 5px 50px 20px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

 
/*page 4**/

.projectheading{
  text-align: center;
  color: rgba(198, 204, 204, 0.6);
  padding: 50px 0 0 0;
  font-size: 2.5vw;
}
.projectheading2{
  text-align: center;
  color: rgba(114, 117, 117, 0.9);
  padding: 0 0 15px 0;
  font-size: 20px;
  
}


.flexcontainer{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin-bottom: 20px;

}

.fleximg{
  width: 40vw;
  height: 30vh;
  overflow: hidden;
}

.fleximg img{
  max-width: 100%; 
  size: cover;
  filter: grayscale(0.9);
}
.fleximg :hover{
  filter: grayscale(0);
}

.flexbox{
  width: 40vw;
  height: 30vh;
  background-color: #474e5d;
  text-align: center;
}

.flexbox h2{
  text-decoration: none;
  font-weight: 100;
  color: aliceblue;
  padding: 40px;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.flexbox span{
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.flexbox a{
  margin: 10px;
	text-decoration: none;
	color:  inherit;
}

@media only screen and (max-width: 700px) {
  .fleximg{
    width: 80vw;
    height: 30vh;
    overflow: hidden;
  }
  .flexbox{
    width: 80vw;
    height: 25vh;
    margin-top: 5px;
  }
  .flexbox h2{
    font-size: 20px;
  }
  .flexbox span{
    font-size: 15px;
  }
}



/*footer**/

.footer{
  background-color: #333333;
  display: flex;
  justify-content: center;
}

.footer .links h2{
  margin-top: 20px;
  display: block;
	color:  #ffffff;

}
 
.footer .links a{
  margin: 10px;
	text-decoration: none;
	color:  inherit;
}

 
.footer .links p{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
  margin: 20px;
  margin-left: 60px;
}




